@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto:wght@100;300;400&display=swap");

/*---------TRABAJAR COLORES CON VARIABLES-------*/
:root {
  --purple-dark: #170312;
  --purple-medium: #33032d;
  --purple-light: #531253;
  --gray-light: #b3afaf;
  --white: #f4fffd;
  --plomo: #494844;
  --plomo-claro: #756d6a;
  --red: #fe013a;
  --celeste: #41a5e5;
}

/*FOOTER*/
.footer {
  background-image: url(./img/footer.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20rem;
  padding: 70px 0 0 0;
  display: flex;
  justify-content: center;
  bottom: 0;
  height: 17.5rem;
  background-size: cover;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

/*FOOTER OCM*/

.icono {
  image-rendering: auto;
}

/*FIN FOOTER OCM*/

.footer-img {
  width: 15%;
}

/*LOGO*/
.logo {
  display: flex;
  justify-content: center;
}

/*FACEBOOK*/
.facebook {
  text-decoration: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: 1px; /*espacio en la letra de facebook*/
}

.letra-navbar {
  letter-spacing: 1px;
  margin: 0px 10px; /*margen entre letras*/
}

.clase-fb {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.rsociales {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.facebook2 {
  text-decoration: none;
  color: var(--celeste) !important;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: 1px; /*espacio en la letra de facebook*/
}

.sociales {
  display: flex;
  margin-left: 1rem;
  margin-top: -90px;
  align-items: flex-end;
}
/*FIN FACEBOOK*/

.cajas {
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
  padding-top: 10px;
  padding-top: 50px;
  text-align: justify;
}
.tamanio {
  font-size: 100px;
}

.fondo-main {
  background-color: #eaeaea;
}

.position {
  text-align: center;
  align-items: center;
  margin-bottom: 8%;
}

/*LINEA-NAVBAR*/
.nav-link {
  
  position: relative;
  font-weight: bold;
  color: var(--plomo); /*Color del NavBar*/
  display: inline;
}
.nav-link:after {
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: #fd1c1c;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  transform: translateY(-20px);
}
.nav-link:hover:after {
  opacity: 1;
  transform: translateY(-25px); /*pegado a la letra*/
}
/*FIN LINEA-NAVBAR*/

/*TEXTO*/
.texto {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--plomo);
  text-align: justify;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/*FIN TEXTO*/

.pad1 {
  padding: 0 10% 0 10%;
  word-spacing: 0.2em;
}
.pad2 {
  padding: 0 10% 0 10%;
  word-spacing: 0.5rem;
  font-size: 15px;
}
.pad3 {
  padding: 0 5% 0 5%;
  word-spacing: 0.4em;
  font-size: 25px;
}
.pad4 {
  padding: 0 10% 0 10%;
  word-spacing: 0.5rem;
  font-size: 15px;
}

.navbar-nav > li {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1rem;
}

.carousel-container {
  height: 400px;
}

.img-banner {
  object-fit: cover;
  object-position: center;
}

.nb {
  margin-top: 10px;
  margin-bottom: 10px !important;
}

/*MEDIA QUERYS*/

/*320px máximo*/
@media (max-width: 320px) {
  /*min 320*/
  .facebook h6 {
    font-size: 12px;
  }
  .logo-img {
    width: 150px;
  }
  .sociales {
    display: none !important;
  }

  .pad3 {
    padding: 0 8% 0 5%;
    word-spacing: 0em;
    font-size: 20px;
  }
  .pad4 {
    padding: 0 10% 0 10%;
    word-spacing: 0.5rem;
    font-size: 12px;
  }
  .position {
    text-align: center;
    align-items: center;
    margin-bottom: 15%;
  }
  /*FOOTER*/
  .footer {
    margin-top: 20rem;
    padding: 2.5rem 0 0 0;
    height: 10rem;
    background-size: cover;
  }
  .footer-logo {
    height: 100px;
  }
  /*FIN FOOTER*/
}

/*320px mínimo*/
@media (min-width: 320px) {
  .facebook h6 {
    font-size: 14px;
  }

  .logo-img {
    width: 150px;
  }
  .sociales {
    display: none !important;
  }

  .pad3 {
    padding: 0 8% 0 5%;
    word-spacing: 0em;
    font-size: 19px;
  }
  .pad4 {
    padding: 0 10% 0 10%;
    word-spacing: 0.5rem;
    font-size: 13px;
  }
  .position {
    text-align: center;
    align-items: center;
    margin-bottom: 11%;
  }
  /*FOOTER*/
  .footer {
    margin-top: 20rem;
    padding: 2.5rem 0 0 0;
    height: 10rem;
    background-size: cover;
  }
  .footer-logo {
    height: 100px;
  }
  /*FIN FOOTER*/
  .rsociales {
    display: flex !important;
    justify-content: center !important;
    align-items: flex-end !important;
    flex-direction: column;
  }
  .navbar-nav > li {
    margin-top: 1rem;
  }
}

/*375px mínimo*/
@media (min-width: 375px) {
  .facebook h6 {
    font-size: 14px;
  }
  .logo-img {
    width: 150px;
  }
  .sociales {
    display: none !important;
  }
}

/*425px min*/
@media (min-width: 425px) {
  /*FOOTER*/
  .footer {
    margin-top: 20rem;
    padding: 2.5rem 0 0 0;
    height: 11rem;
    background-size: cover;
  }
  .footer-logo {
    height: 110px;
  }
  /*FIN FOOTER*/
}
/*768px mínimo*/
@media (min-width: 768px) {
  .facebook h6 {
    font-size: 14px;
  }
  .sociales {
    display: none !important;
  }
  .logo-img {
    width: 180px;
  }
  /*FOOTER*/
  .footer {
    margin-top: 20rem;
    padding: 2.5rem 0 0 0;
    height: 12rem;
    background-size: cover;
  }
  .footer-logo {
    height: 130px;
  }
  /*FIN FOOTER*/
  .rsociales {
    display: flex !important;
    flex-direction: row;
    justify-content: end !important;
    align-items: flex-end !important;
  }
}

/*992px mínimo*/
@media (min-width: 992px) {
  .facebook h6 {
    font-size: 17px;
  }
  .clase-fb {
    display: none !important;
    justify-content: center !important;
    align-items: flex-end !important;
  }
  .rsociales {
    display: none !important;
    justify-content: center !important;
    align-items: flex-end !important;
  }

  .sociales {
    display: flex !important;
  }

  .logo-img {
    width: 180px;
  }

  /**/
 

  /*efecto zoom*/
  .sociales img {
    transition: 0.3s ease all;
  }
  .sociales img:hover {
    transform: scale(1.2);
  }
  /*efecto zoom*/


  /*FOOTER*/
  .footer {
    margin-top: 20rem;
    padding: 2.5rem 0 0 0;
    height: 13rem;
    background-size: cover;
  }
  .footer-logo {
    height: 140px;
  }
  /*FIN FOOTER*/
  .navbar-nav > li {
    margin-top: 0;
  }
}

/*1024px mínimo*/
@media (min-width: 1024px) {
  .facebook h6 {
    font-size: 17px;
  }
  .pad3 {
    padding: 0 8% 0 5%;
    word-spacing: 0em;
    font-size: 26px !important;
  }
  .pad4 {
    padding: 0 10% 0 10%;
    word-spacing: 0.5rem;
    font-size: 18px !important;
  }
  .position {
    text-align: center;
    align-items: center;
    margin-bottom: 8%;
  }
  /*FOOTER*/
  .footer {
    margin-top: 20rem;
    padding: 2.9rem 0 0 0;
    height: 14rem;
    background-size: cover;
  }
  .footer-logo {
    height: 150px;
  }
  /*FIN FOOTER*/
}

/*1440px mínimo*/
@media (min-width: 1440px) {
  .facebook h6 {
    font-size: 19px;
  }

  .pad3 {
    padding: 0 8% 0 5%;
    word-spacing: 0em;
    font-size: 25px !important;
  }
  .pad4 {
    padding: 0 10% 0 10%;
    word-spacing: 0.5rem;
    font-size: 18px !important;
  }
  .position {
    text-align: center;
    align-items: center;
    margin-bottom: 5.5%;
  }
  /*FOOTER*/
  .footer {
    margin-top: 40rem;
    padding: 2.9rem 0 0 0;
    height: 15rem;
    background-size: cover;
  }
  .footer-logo {
    height: 160px;
  }
  /*FIN FOOTER*/
}

/*1600px mínimo*/
@media (min-width: 1600px) {
  .facebook h6 {
    font-size: 19px;
  }
  /*FOOTER*/
  .footer {
    margin-top: 40rem;
    padding: 3.5rem 0 0 0;
    height: 17rem;
    background-size: cover;
  }
  .footer-logo {
    height: 170px;
  }
  /*FIN FOOTER*/
}

/*1900px máximo*/
@media (min-width: 1900px) {
  .facebook h6 {
    font-size: 20px;
  }
  /*FOOTER*/
  .footer {
    margin-top: 40rem;
    padding: 4.5rem 0 0 0;
    height: 20rem;
    background-size: cover;
  }
  .footer-logo {
    height: 190px;
  }
  /*FIN FOOTER*/
}

/*FIN MEDIA QUERYS*/
