/*Font Family Roboto*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/*Tont Family Raleway*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

/*---------TRABAJAR COLORES CON VARIABLES-------*/
:root {
  --blue: #7a27ff;
  --blue2: #7226fe;
  --blue3: #7227ff;
  --blue4: #7a27ff;
  --blue5: #682cca;
  --purple-light: #531253;
  --gray-light: #fafafa;
  --white: #f4fffd;
  --plomo: #162518;
  --plomo-claro: #756d6a;
  --red: #fe013a;
  --celeste: #41a5e5;

  --color-black: #1b1b1b;
  --color-white: #fff;
  --color-green: #31bc01;
  --color-green2: #198119;
  --color-red: #c82647;
  --color-orange: #eb9532;
  --color-purple: #7e3661;
}

body {
  font-family: "Roboto", sans-serif;
}

.fondo {
  background-color: var(--blue4);
  margin-top: -2rem;
  height: 25rem !important;
}
.fondo:hover {
  background-color: var(--blue5);
}

.fondo2 {
  background-color: rgb(0, 255, 0);
}

.fondo3 {
  background-color: rgb(255, 0, 179);
}

.fondo4 {
  background-color: aquamarine;
}

.fondo5 {
  background-color: rgb(157, 133, 180);
}

.fondo6 {
  background-color: rgb(204, 163, 109);
}

.fondo7 {
  background-color: #8a4dfa;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
}
.fondo7:hover {
  background-color: #18063d;
  transition: 0.4s;
}

.fondo_letra {
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(240, 236, 236);
}

.fondo_letra h6,
.fondo_letra p {
  margin-top: 0.9rem !important;
  margin-left: 0.9rem !important;
  margin-bottom: 0.9rem !important;
}

/*CABECERA*/
.header {
  position: fixed;
  z-index: 999;
  width: 100%;
}
.header1 {
  padding-top: 6px;
  background-color: rgb(255, 255, 255);
}

.header1_1 {
  background-color: #1245b3;
  margin-top: -15px;
}
.derecha {
  display: flex;
  justify-content: right;
}
.redes-sociales {
  margin-left: 25%;
  margin-right: 25%;
}
.rsociales:hover {
  background: #afb0e4;
  border-radius: 25%;
}
.centrar2 {
  display: flex;
  margin-left: 25%;

  width: 100%;
}
.nav-link {
  font-size: 1rem;
  font-weight: bold;
}

.nav-link:hover {
  color: #7a2fff !important;
}

.nav-item {
  margin: 0 5px;
}

/*FIN CABECERA*/


.izquierda {
  display: flex;
  justify-content: left;
}

.ml {
  margin-left: 2rem;
}
.ei {
  font-size: 2rem;
}
.eme {
  font-size: 1.8rem;
  font-weight: 100;
}
.rsocial {
  text-align: center;
}

.header-d {
  margin-top: 0.5rem;
  margin-left: 2rem;
}

hr {
  margin-top: -8px !important;
}


.azul {
  color: rgb(129, 52, 216);
}

.negro {
  color: black;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  justify-items: center;
  align-items: center;
}

.galeriaitem :hover {
  background-color: #7c2cff;
  color: white;
}
.galeria h6,
.galeria p {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.staff {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  justify-items: center;
  align-items: center;
}
.staff_individual {
  box-shadow: 2px 2px rgb(209, 208, 208);
  border-radius: 5px;
}

.staffitem :hover {
  background-color: #7c2cff;
  color: white;
}
.staff h6,
.staff p {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.img-d {
  height: 100vh;
  width: 100%;
  margin-top: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: left;

  flex-direction: row;
  background-image: url("./img/slider.jpg");
  background-size: cover;
  background-position: center;
  background-color: #4b4952;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  color: white;
}

.btn-outline-secondary {
  color: #fdfeff;
  border-color: #ffffff;
}
.button_magen {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.button {
  background-color: var(--blue3); /* Green */
  border: none;
  border-radius: 30px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {
  border-radius: 30px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  border-color: rgb(70, 37, 37);
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;

  color: rgb(253, 254, 255);
  border-color: rgb(255, 255, 255);
}
.button2:hover {
  background-color: #7a27ff;
  color: rgb(253, 254, 255);
  border-color: #855bc9;
  transition: 0.4s;
}

.button3 {
  border-radius: 30px;

  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  border-color: rgb(70, 37, 37);
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;

  color: #7a27ff;
  border-color: #7a27ff;
}

.button3:hover {
  background-color: #7a27ff;
  color: var(--color-white);
  border-color: #7a27ff;
}

.button4 {
  border-radius: 30px;

  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  border-color: rgb(70, 37, 37);
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;

  color: #7a27ff;
  border-color: #7a27ff;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button4:hover {
  border-color: rgb(70, 37, 37);
  background-color: #7a27ff;
  color: var(--color-white);
  border-color: #7a27ff;
}

.button5 {
  background-color: #31bc01; /* Green */
  border: none;
  border-radius: 30px;
  color: white;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 50px;
}

/*CAROUSEL STAFF*/
h4,
h2,
small,
a {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.Carousel {
  width: 100%;
  margin: 0px 60px;
  display: flex;
  margin: 0;
  padding: 0;
}
.Carousel h2 {
  font-size: 26px;
  line-height: 38px;
  padding-bottom: 24px;
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

/* images */
.slick-list {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 33rem;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
}
.slick {
  position: relative;
  width: 275px;
  padding: 0 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}
.slick h4 {
  position: absolute;
  z-index: 1;
  font-size: 22px;
  line-height: 23px;
  color: #fff;
  padding: 15px;
}
.slick h4 small {
  font-size: 15px;
  display: block;
}
.slick a img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 4px;

  transition: 0.3s ease-in-out;
}
.slick a img:hover {
  opacity: 0.85;
}

/* buttons */

.slick-arrow {
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(209, 1, 1, 0.15);
  border: 0;
  cursor: pointer;
}
.slick-arrow:focus {
  outline: 0;
}
.slick-arrow svg {
  width: 12px;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
}
.slick-prev {
  left: 0px;
}
.slick-next {
  right: 0px;
}
.especialista_descr {
  margin-top: 0rem;
  color: black !important;
  font-size: 1.1rem !important;
  font-weight: 500;

  padding-right: 5.3rem !important;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.staff_oe {
  margin-top: 0.5rem;
  color: rgb(150, 176, 177);
}
.staff_cd {
  color: #7a27ff;
}

.slick_conteiner {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
/*FIN CAROUSEL STAFF*/


.container02_espacio {
  margin-top: 3rem;
}



.fijo {
  position: fixed;
  z-index: 999;
  width: 100%;

  background-color: #ffffff;
}
.main {
  margin-top: -1.3rem;
}
header {
  background-color: white;
}

.bg-light {
  background-color: rgb(255, 255, 255) !important; /*dental menu*/
}
.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}



.centrar-v {
  display: flex;
  align-items: center;
}

.centrar-h {
  margin: 0 auto;
  text-align: center;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 0.2rem;
}

.footer {
  background-color: #fafafa;
}
.footer_position{
  margin-top: -3.85rem;
}
.footer_border {
  border: 1px solid #dee2e6 !important;
}

.footer2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.espaciado {
  margin-top: -2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fafafa;
}
.section-c {
  height: 30rem;
  width: 100%;
  background-color: #7a27ff;
}
.section2 {
  width: 100%;
  height: auto;
  padding-bottom: 7rem;
}
.s2_fondo {
  background-image: url(https://d39uo3k0liehyo.cloudfront.net/roadmap-v2/images/bg-pattern.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 10px;
}

.section1_letra {
  color: white;
  word-wrap: bold;
}

.section1_letra2 {
  color: white;
  font-size: 15px !important;
}

.blue {
  color: #7227ff;
}

.cont-letra {
  padding-top: 4.8rem;
  margin-bottom: 4.5rem;
}
.footer_descripcion {
  font-size: 0.9rem;
}

.footer_logo {
  width: 70%;
}
.h-img {
  border-radius: 10px;
  height: 25rem;
  margin-bottom: 1.7rem;
}

.h-img2 {
  border-radius: 10px;
  height: 28rem;
  /*border-style: groove;*/
  border: rgb(207, 207, 207) 0.1rem solid;
}

.h-letra {
  margin-top: 0px;
  width: 100%;
  height: 6rem;
  color: rgb(32, 28, 28);
  display: flex;
}

.h-letra:hover:after {
  background-color: #27ff4b;
  color: rgb(131, 121, 121);
}

.h-letra-b {
  font-size: 1.1rem;
  color: rgb(2, 2, 2);
  margin-top: 15px;
  margin-left: 10px;
}

.h-letra-t {
  font-size: 1rem;
  color: #7227ff;
}

.a-hover {
  text-decoration: none;
}
.borde {
  border-radius: 5px !important;
  background-color: #ffffff;
}

.borde-r {
  border-radius: 5px !important;
  padding-bottom: 9rem;
}
.centrado {
  text-align: center;
}
.borde:hover {
  background-color: #7227ff;
  color: white !important;
}

.a-hover > p:hover,
.h-letra-t:hover {
  color: white;
}

.section3 {
  max-width: 100%;
  background-image: url(./img/Group\ 104.jpg);
  background-repeat: no-repeat;
}

.section5 {
  max-width: 100%;
  background-image: url(./img/Group\ 104.jpg);
  background-repeat: no-repeat;
  height: auto;
}
.texto-blanco {
  color: white;
}

.text-num {
  font-size: 2rem;
}
.somos {
  font-weight: bold;
  font-size: 1.2rem;
}

.dientecito {
  float: right;
  margin-right: -1rem;
  display: flex;
  margin-top: 2rem;
}

.section3-texto {
  margin: 7rem 2rem 8rem 2rem;
}

.section5-texto {
  margin: 6rem auto;
  text-align: center;
}
.justificado {
  text-align: justify;
}
.asiento-dent {
  height: 80%;
  display: flex;
  margin-top: 10rem;
}
.section4 {
  margin-top: 10rem;
}

.btn-masd {
  margin-top: 6rem;
  margin-bottom: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oe {
  color: #888;
  font-size: 0.9rem;
}


/*BOTON 6*/
.boton_6 {
  background-color: var(--color-green);
  border: 1px solid;
  border-radius: 35px;
  cursor: pointer;

  padding: 0.2rem 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--white) !important;
  width: 8rem;
}

.btn_6:hover {
  box-shadow: 0 0 40px 40px var(--color-green2) inset;

  transition: box-shadow 0.2s ease-in-out;
}

/*FIN BOTON 6*/

/*DEGRADADO CON IMAGENES DE FONDO*/
.cotenedor__item {
  width: 100%;
  position: relative; /*porque este contenedor ca a contener a otro*/
  margin: auto; /*centrado automático*/
  margin-bottom: 20px;
}

.cotenedor__item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.1),
    rgba(9, 7, 32, 0.7)
  );
  /*opacity: 0.7;*/
}

.contenedor__img {
  width: 100%;
  display: block;
}

.contenedor__txt {
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: white;
  font-family: monospace;
  font-size: 2rem;
}
/*FIN DEGRADADO CON IMAGENES DE FONDO*/

/*FOOTER*/
ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0;
}
.footer_area {
  padding: 60px 0 20px;
  position: relative;
  color: rgb(36, 36, 43);
  z-index: 100;
  background: rgb(255, 255, 255);
  word-break: break-all;
  word-wrap: break-word;
}

.single_ftr form {
  margin-top: 8px;
}
.single_ftr p {
  margin-bottom: 10px;
}

.sf_title {
  color: #101144;

  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.ftr_logo {
  float: left;
  padding: 15px 46px 0 0;
}
.ftr_logo a img {
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}
.ftr_logo a:hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.3;
}
.newsletter_form form {
  position: relative;
  display: block;
}
.newsletter_form {
  margin-top: 0px;
  overflow: hidden;
}
.single_ftr p {
  display: inline-block;
}
.newsletter_form .form-control {
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 8px 20px;
  width: 100%;
  position: relative;
  background: transparent;
  color: #fff;
  border-radius: 0;
}

.newsletter_form button {
  border: inherit;
  border-radius: 0;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  box-shadow: none;
  border: 1px solid transparent;
  transition: 0.5s;
  letter-spacing: 0.5px;
  position: absolute;
  right: 0px;
  top: 0;
  padding: 12px 17px;
  transition: 0.5s;
}
.newsletter_form button:hover,
.newsletter_form button:hover {
  background: transparent;
  color: #33d286;
  opacity: 0.9;
}
.newsletter_form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 1;
}

.newsletter_form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.newsletter_form :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  opacity: 1;
}
.newsletter_form :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  opacity: 1;
}

.form-control:focus {
  border-color: #33d286;
}

.single_ftr li {
  padding-bottom: 7px;
  color: #fff;
}
.single_ftr a {
  color: rgb(36, 36, 43);
  text-decoration: none;
  font-size: 1rem;
}
.single_ftr a:hover {
  color: #7227ff;
  border-left: #7227ff 3px solid;
  padding-left: 3px;
  margin-left: -3px;
}

.ftr_social_icon li {
  display: inline-block;
  text-align: center;
  padding: 4px;
}

.ftr_social_icon ul li a {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 17px;
  height: 40px;
  line-height: 32px;
  padding: 4px 8px;
  width: 40px;
  transition: 0.5s;
}
.ftr_social_icon ul li a:hover {
  background: #33d286;
  border-color: #33d286;
  color: #fff;
}

.ftr_btm_area {
  background: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px dotted #888;
  margin-top: 28px;
  z-index: 100;
  position: relative;
}
.copyright_text {
  margin: 6px 0;
}
.payment_mthd_icon li {
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
  color: #fff;
}

.f_bordel {
  border-left: 1px solid var(--gray-light);
}
.f_bordet {
  border-top: 1px solid var(--gray-light);
}
.f_bordeb {
  border-bottom: 1px solid var(--gray-light);
}
.f_border {
  border-right: 1px solid var(--gray-light);
}
/*FIN FOOTER*/
.oculto {
  display: none !important;
}


/*Imagen con Hover en el Header*/
.card-test {
  position: relative;
}

.card-test:hover::before {
  content: "";
  position: absolute;
  height: 8rem;
  width: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: translateY(-8rem);
  background-image: url("./img/sonrisa_frenillos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*SLIDER PRINCIPAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_f {
  width: 100%;
  min-height: 100vh;
  /* max-width: 1200px;*/
  margin: 8rem 0 0 0;
  overflow: hidden;
  background: linear-gradient(to left, transparent 5%, rgba(16, 15, 39, 0.7));

  /**/
  position: relative;
}

.container_f::before {
  position: absolute;
}
.slider {
  background-color: #f2f2f2;
  padding: 0 0;
  background-image: url(./img/slider.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}

.slider__container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  gap: 1em;
}

.slider__body {
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  display: grid;

  grid-template-columns: 1fr max-content;
  align-items: center;
  transition: opacity 1.5s;
}

.slider__body--show {
  opacity: 1;
  pointer-events: unset;
}

.slider__texts {
  max-width: 5rem;
}
.invertir__color {
  filter: invert(1);
}
.nav__derecha {
  justify-content: flex-end;
  width: 100%;
}
.subtitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.slider__review {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #f2f2f2;
}

.slider__arrow {
  cursor: pointer;
  width: 90%;

  filter: invert(1);
}
.slider__img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover; /*para que la imagen no se distorcione*/
  display: block;
  margin: auto; /*para centrarlo automáticamente*/
}

.slider__arrow:nth-of-type(2) {
  justify-self: end;
}

.sliders__texts {
  width: 100% !important;
}
/*DEGRADADO CON IMAGENES DE FONDO*/
.cotenedorf__item {
  width: 100%;
  position: relative; /*porque este contenedor ca a contener a otro*/
  margin: auto; /*centrado automático*/
  margin-bottom: 20px;
}

.cotenedorf__item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.1),
    rgba(15, 14, 14, 0.7)
  );
  /*opacity: 0.7;*/
}

.contenedorf__img {
  width: 100%;
  display: block;
}

.contenedorf__txt {
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: white;
  font-family: monospace;
  font-size: 2rem;
}
/*FIN DEGRADADO CON IMAGENES DE FONDO*/


@media (max-width: 768px) {
  
}
/*FIN SLIDER PRINCIPAL*/

/*MEDIA QUERYS*/
@media (min-width: 320px) and (max-width: 768px) {
  .navbar-brand {
    width: 50% !important;
  }
  .navbar_logo {
    width: 11rem;
  }
  .navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .single_ftr a {
    color: rgb(36, 36, 43);
    text-decoration: none;
    font-size: 0.9rem;
  }
  .subtitle {
    font-size: 1.8rem !important;
  }
  .slider__review {
    font-size: 1rem;
  }
  .horario {
    margin-top: 4px;
  }
  .header1_1 {
    margin-top: 0rem;
  }
  .main {
    margin-top: -3.3rem;
  }
  .fondo {
    margin-top: 0.3rem;
  }
  .fondo7 {
    background-color: #8a4dfa;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    margin-top: 1.2rem;
  }
  .asiento-dent {
    height: 80%;
    display: flex;
    margin-top: 0rem;
  }
  .centrar {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .header-txt {
    margin-left: 0.5rem;
  }

  .cont-letra {
    padding-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
  .dientecito {
    float: right;
    margin-right: -0.3rem;
    display: flex;
    margin-top: 1rem;
  }
  .section2 {
    width: 100%;
    height: auto;
  }

  .section5 {
    height: auto;
    background-size: cover;
  }

  .footer_descripcion {
    font-size: 0.9rem;
  }

  .footer_logo {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .section3-texto {
    margin: 2rem 2rem 1.5rem 2rem;
  }
  .section4 {
    margin-top: 4rem;
  }
  .single_ftr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  .centrar2 {
    margin-left: 0%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container_f {
    width: 100%;
    min-height: 70vh !important;
    /* max-width: 1200px; */
    margin: 8rem 0 0 0;
    overflow: hidden;
    background: linear-gradient(to left, transparent 5%, rgba(16, 15, 39, 0.7));
    position: relative;
  }
  .section5_margen {
    margin-top: -2rem;
  }
  .btn_centrado {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .sf_title {
    font-size: 1rem;
    font-weight: 600;
  }
  .newsletter_form {
    font-size: 0.9rem;
  }
  .justificado {
    font-size: 0.9rem;
  }

  .copyright_text {
    margin: 6px 0;
    font-size: 0.9rem;
  }

  .slider__body {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 1em;
  }

  .slider__picture {
    grid-row: 1/2;
  }
  .slider__img {
    width: 210px;
    height: 210px;
  }
}
@media (max-width: 320px) {
  .card-test:hover::before {
    display: none;
  }
}


/*425px*/
@media (max-width: 425px) {
  .slider__container {
    grid-template-columns: 25px 1pfr 25px; /*tamaño de las flechas*/
  }

  .slider__arrow {
    width: 1.5rem;
  }
  .slider__img {
    width: 180px;
    height: 180px;
  }
  .subtitle {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .slider__review {
    font-size: 1rem;
    line-height: 1.6;
  }
}


/*320px -768px*/
@media (min-width: 320px) and (max-width: 768px) {
  .nav_ocultar {
    display: none !important;
  }
}

/*375px*/
@media (min-width: 375px) and (max-width: 425px) {
  .card-test:hover::before {
    display: none;
  }
  .copyright_text {
    margin: 6px 0;
    font-size: 1rem;
  }
  .dimension {
    width: 80%;
  }
}

/*425*/
@media (min-width: 425px) and (min-width: 767px) {
  .container_f {
    width: 100%;
    min-height: 85vh !important;
  }
}


/*768px*/
@media (min-width: 768px) {
  .footer_bordei {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .asiento-dent {
    margin-top: 7.5rem;
  }
  .sliders__texts {
    margin-left: 3rem;
  }
  .button3 {
    font-size: 0.9rem;
  }
  .footer_logo {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .single_ftr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
  }
  .copyright_text {
    margin: 6px 0;
    font-size: 1rem;
  }
  .section1_letra {
    color: white;
    word-wrap: bold;
    font-size: 1.2rem;
  }

  .section1_letra2 {
    color: white;
    font-size: 0.8rem;
  }

  .card-test {
    position: relative;
  }

  .card-test:hover::before {
    content: "";
    position: absolute;
    height: 6rem;
    width: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: translateY(-6rem);
    background-image: url("./img/sonrisa_frenillos.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fondo {
    height: 27rem !important;
  }

  .f_bordel {
    /*letf*/
    border-left: 1px solid #cdcdd3;
  }
  .f_bordet {
    /*top*/
    border-top: 1px solid #cdcdd3;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .f_bordeb {
    /*bottom*/
    border-bottom: 1px solid #cdcdd3;
  }
  .f_border {
    /*right*/
    border-right: 1px solid #cdcdd3;
  }

  .ftr_btm_area {
    background: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #cdcdd3;
    margin-top: 0px;

    position: relative;
  }
  .footer_bordei {
    margin-top: 1.5rem;

  }
  .sf_title {
    font-size: 1rem;
    font-weight: 600;
  }
}

/*1024px*/
@media (min-width: 1024px) and (max-width: 1199px) {
  
  .navbar-nav {
    flex-direction: row;
    margin-left: 2rem;
  }
  .derecha {
    display: flex;
    justify-content: center;
    padding-left: 2rem;
  }
  .visitanos {
    display: none;
  }
  .header1 {
    padding-top: 6px;
    background-color: rgb(255, 255, 255);
    font-size: 0.79rem;
  }
  .asiento-dent {
    height: 90%;
    padding-top: 1rem !important;
  }

  .f_bordel {
    /*letf*/
    border-left: 1px solid #cdcdd3;
  }
  .f_bordet {
    /*top*/
    border-top: 1px solid #cdcdd3;
  }
  .f_bordeb {
    /*bottom*/
    border-bottom: 1px solid #cdcdd3;
  }
  .f_border {
    /*right*/
    border-right: 1px solid #cdcdd3;
  }

  .ftr_btm_area {
    background: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #cdcdd3;
    margin-top: 0px;

    position: relative;
  }
  .card-test:hover::before {
    content: "";
    position: absolute;
    height: 7rem;
    transform: translateY(-7rem);
  }
}


/*1200px*/
@media (min-width: 1200px) {
  .f_bordel {
    /*letf*/
    border-left: 1px solid #cdcdd3;
  }
  .f_bordet {
    /*top*/
    border-top: 1px solid #cdcdd3;
  }
  .f_bordeb {
    /*bottom*/
    border-bottom: 1px solid #cdcdd3;
  }
  .f_border {
    /*right*/
    border-right: 1px solid #cdcdd3;
  }
  .ftr_btm_area {
    background: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #cdcdd3;
    margin-top: 0px;

    position: relative;
  }
  .asiento-dent {
    height: 91%;
    padding-top: 1rem !important;
  }
  .card-test:hover::before {
    content: "";
    position: absolute;
    height: 8rem;
    transform: translateY(-8rem);
  }
}


/*1400px*/
@media (min-width: 1400px) {
  .centrar2 {
    display: flex;
    margin-left: 30%;
    width: 100%;
  }
  .asiento-dent {
    height: 80%;
    padding-top: 1rem !important;
  }
}

/*FIN MEDIA QUERYS*/
