@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto:wght@100;300;400&display=swap");

/*---------TRABAJAR COLORES CON VARIABLES-------*/
:root {
  --purple-dark: #170312;
  --purple-medium: #33032d;
  --purple-light: #531253;
  --gray-light: #b3afaf;
  --white: #f4fffd;
  --plomo: #494844;
  --plomo-claro: #756d6a;
  --red: #fe013a;
  --celeste: #41a5e5;
}

/*------PARALLAX-------*/
.parallax {
  width: 100%;
  height: 350px;
  background-image: url("./img/parallax.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /*fijamos la imagen*/
  margin-bottom: 60px;
}

.title-parallax {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/*------FIN PARALLAX-------*/

/*----------PRODUCTOS---------*/
.productos {
  background: var(--gray-light);
  padding: 20px;
  margin-bottom: 60px;
}

.productos .titulo {
  width: 70%;
  font-size: 44px; /*tamaño de la letra*/
  text-transform: uppercase; /*Transforma a mayusculas*/
  display: inline-block; /*permite establecer un ancho y un alto en el elemento, se respetan los márgenes / rellenos superior e inferior.*/
  margin-bottom: 50px;
}

.productos .producto {
  position: relative;
  width: 100%;
}

/*--------OVERLAY---------*/
.productos .overlay {
  width: 0%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--purple-light); /*Color del overlay*/
  overflow: hidden;
  transition: 0.5s ease;
}

.productos .producto:hover .overlay {
  width: 100%;
  opacity: 0.8;
}

.productos .producto .overlay-texto {
  top: 50%;
  left: 50%;
  position: absolute;
  white-space: nowrap;
  color: var(--white);
  font-size: 18px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
/*FIN PRODUCTOS*/

.centrar {
  text-align: center;
  color: black;
  text-decoration: none;
}

.centrado {
  margin-top: 4rem;
  padding: 1% 8% 1% 8%;
}

/*FOOTER*/
.footer {
  background-image: url(./img/footer.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px;
  display: flex;
  justify-content: center;
}

.footer2 {
  background-color: var(--red);
  width: 100%;
  display: table;
  padding: 8rem 0 0 0;
  color: #fff;
}

/*FOOTER OCM*/
.footer_o {
  background-image: url("./img/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; /*para ocupar todo el ancho de la pantalla*/
  padding: 3% 0 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.center_o {
  text-align: center;
  padding: 3% 0 3% 0;
}
.icono {
  image-rendering: auto;
}

/*FIN FOOTER OCM*/

.footer-img {
  width: 15%;
}

/*LOGO*/
.logo {
  display: flex;
  justify-content: center;
}

/*FACEBOOK*/
.facebook {
  text-decoration: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: 1px; /*espacio en la letra de facebook*/
}

.letra-navbar {
  letter-spacing: 1px;
  margin: 0px 10px; /*margen entre letras*/
}

.clase-fb {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.facebook2 {
  text-decoration: none;
  

 
}

.clase-fb2 {
  display: flex;
  margin-left: 1rem;
  margin-top: -90px;
  align-items: flex-end;
}
/*FIN FACEBOOK*/

.cajas {
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
  padding-top: 10px;
  padding-top: 50px;
  text-align: justify;
}
.tamanio {
  font-size: 100px;
}

.fondo-main {
  background-color: #eaeaea;
}

.position {
  text-align: center;
  align-items: center;
  margin-bottom: 8%;
}

/*LINEA-NAVBAR*/
ul#linea-nb li a {
  position: relative;
  font-weight: bold;
  color: var(--plomo); /*Color del NavBar*/
}
ul#linea-nb li a:after {
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: #fd1c1c;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  transform: translateY(-20px);
}
ul#linea-nb li a:hover:after {
  opacity: 1;
  transform: translateY(-25px); /*pegado a la letra*/
}
/*FIN LINEA-NAVBAR*/

/*CONTENIDO 3*/
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30rem;
}

/*FIN CONTENIDO 3*/

/*TEXTO*/
.texto {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--plomo);
  text-align: justify;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/*FIN TEXTO*/

/*BOTON DEL CAROUSEL*/
.fon {
  background-color: var(--plomo-claro);
  color: var(--white);
  padding: 10px;
}
/*FIN BOTON DEL CAROUSEL*/

.letra-carousel {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.hr {
  background-color: var(--red);
  height: 5px;
  margin-left: 5%;
  width: 85%;
}

/*CEBOLLA 2*/
.fondo {
  background-image: url("./img/background.jpg");
  max-width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.dim-cebolla {
  display: block;
  width: 100%;
}

/*RECETA*/
.fondo-receta {
  background-color: #ffffff;
}
.texto-receta {
  padding-top: 20px;
  text-align: justify;
}

.img-cebolla {
  width: 100%;
  height: 400px;
  background-image: url(./img/cebolla.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*FIN CEBOLLA 2*/

.pad1 {
  padding: 0 10% 0 10%;
  word-spacing: 0.2em;
}
.pad2 {
  padding: 0 10% 0 10%;
  word-spacing: 0.5rem;
  font-size: 15px;
}
.pad3 {
  padding: 0 5% 0 5%;
  word-spacing: 0.4em;
  font-size: 25px;
}
.pad4 {
  padding: 0 10% 0 10%;
  word-spacing: 0.5rem;
  font-size: 15px;
}

.navbar-nav > li {
  margin-left: 2em;
  margin-right: 2em;
}

.carousel-container {
  height: 400px;
}

.img-banner {
  object-fit: cover;
  object-position: center;
}

.nb {
    margin-top: 10px;
    margin-bottom: 10px !important;
}

/*MEDIA QUERYS*/

/*320px máximo*/
@media (max-width: 320px) {
  /*min 320*/
  .facebook h6 {
    font-size: 12px;
  }
  .logo-img {
    width: 150px;
  }
  .clase-fb2 {
    display: none !important;
  }

  .pad3{
  padding: 0 8% 0 5%;
  word-spacing: 0em;
  font-size: 20px;
  }
  .pad4{
  padding: 0 10% 0 10%;
  word-spacing: 0.5rem;
  font-size: 12px;
  }
  .position {
     
    text-align: center;
    align-items: center;
    margin-bottom: 15%;
  }
}

/*320px mínimo*/
@media (min-width: 320px) {
  .facebook h6 {
    font-size: 14px;
  }

  .logo-img {
    width: 150px;
  }
  .clase-fb2 {
    display: none !important;
  }

  .pad3{
  padding: 0 8% 0 5%;
  word-spacing: 0em;
  font-size: 19px;
  }
  .pad4{
  padding: 0 10% 0 10%;
  word-spacing: 0.5rem;
  font-size: 13px;
  }
  .position {
     
    text-align: center;
    align-items: center;
    margin-bottom: 11%;
  }
}

/*375px mínimo*/
@media (min-width: 375px) {
  .facebook h6 {
    font-size: 14px;
  }
  .logo-img {
    width: 150px;
  }
  .clase-fb2 {
    display: none !important;
  }
}

/*768px mínimo*/
@media (min-width: 768px) {
  .facebook h6 {
    font-size: 14px;
  }
  .clase-fb2 {
    display: none !important;
  }
  .logo-img {
    width: 180px;
  }
}

/*992px mínimo*/
@media (min-width: 992px) {
  .facebook h6 {
    font-size: 17px;
  }
  .clase-fb {
    display: none !important;
    justify-content: center !important;
    align-items: flex-end !important;
  }
  .clase-fb2 {
    display: flex !important;
  }
  
  .logo-img {
    width: 180px;
  }

  /*LINEA-NAVBAR*/
  .clase-fb2  a {
    position: relative;
    font-weight: bold;
    color: var(--plomo); /*Color del NavBar*/
  }
  .clase-fb2  a:after {
    position: absolute;
    bottom: 7px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: #22b7e4 !important;
    content: "";
    opacity: 1;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(-30px);
  }
  .clase-fb2  a:hover:after {
    opacity: 1;
    transform: translateY(-25px); /*pegado a la letra*/
  }
  /*FIN LINEA-NAVBAR*/
}

/*1024px mínimo*/
@media (min-width: 1024px) {
  .facebook h6 {
    font-size: 17px;
  }
 .pad3{
  padding: 0 8% 0 5%;
  word-spacing: 0em;
  font-size: 26px !important;
  }
  .pad4{
  padding: 0 10% 0 10%;
  word-spacing: 0.5rem;
  font-size: 18px !important;
  }
  .position {
     
    text-align: center;
    align-items: center;
    margin-bottom: 8%;
  }
  
}

/*1440px mínimo*/
@media (min-width: 1440px) {
  .facebook h6 {
    font-size: 19px;
  }

  .pad3{
    padding: 0 8% 0 5%;
    word-spacing: 0em;
    font-size: 25px !important;
    }
    .pad4{
    padding: 0 10% 0 10%;
    word-spacing: 0.5rem;
    font-size: 18px !important;
    }
    .position {
       
      text-align: center;
      align-items: center;
      margin-bottom: 5.5%;
    }
}

/*1600px mínimo*/
@media (min-width: 1600px) {
  .facebook h6 {
    font-size: 19px;
  }
}

/*1900px máximo*/
@media (min-width: 1900px) {
  .facebook h6 {
    font-size: 20px;
  }
}

/*FIN MEDIA QUERYS*/
