@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------COLORES CON VARIABLES-------*/
:root {
  --marron-spetial: #170312;
  --red: #ff4e4c;
  --marron-claro: #6a564f;
  --gray-light: #eaeaea;
  --white: #f4fffd;
  --red-spetial: #df3131;
}

/*CAJAS CON NÚMEROS*/
.cajas {
  align-items: center;
  margin-top: 20px;
  color: var(--gray-light);
  text-align: center;
}

.red {
  background-color: var(--red-spetial);
  margin-left: 3%px;
  padding: 5%;
}

/*FOOTER*/
.fondo_footer {
  background-color: var(--marron-claro);
  height: 100%;
  width: 100%;
}

.letra-footer {
  text-decoration: none;
}
/*FIN FOOTER*/

.ft {
  text-align: center;
}

/*LINEA-FOOTER*/

.ft a {
  position: relative !important;
  font-weight: bold !important;
  color: blue !important; /*Color del NavBar*/
  margin: 0px 15px !important;
}

.ft a::after {
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: #5cfd1c;
  content: "";
  opacity: 1;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  display: block;
}

.linea-nb {
  text-align: center;
}

.contenido {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 2vh;
  font-family: "Noto Serif", serif; /*tipo de fuente*/
}

.tamanio {
  font-size: 100px;
}

/*CENTRAR */
.centrar {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.pos-y {
  margin-top: 3rem;
}
.ml {
  margin-right: 10px;
}

.img-banner {
  object-fit: cover;
  object-position: center;
}
.carousel-container {
  height: 350px;
  margin-top: 0.9rem !important;
}

.bg-light {
  background-color: white !important;
}

.carousel-caption {
  position: absolute;
  right: 5%;
  bottom: 1.25rem;
  left: 56%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: left;
}
/*HOVER*/
.nav-link:hover {
  color: #ffffff !important;
  background-color: var(--red);
  transition: transform 0.9s ease-in-out;
}

.color-texto {
  display: inline-block;
  background-color: white;
  color: #df3131;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  
}

.navbar-nav > li {
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*FIN HOBER NAV*/

.logo-size {
  height: 7rem;
}

.carousel-indicators {
  margin-bottom: -1.5rem;
}

.carousel-indicators [data-bs-target] {
  margin-bottom: -1rem !important;
  background-color: var(--red-spetial);
  width: 10px;
  height: 10px;
  border: 1;
  border-radius: 50%;
}

.position {
  top: 30%;
}

.position > h4 {
  margin-right: 0rem !important;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem; /*separación entre letras*/
}

.pad3 {
  padding: 0 5% 5% 5%;
  word-spacing: 0.4em;
  font-size: 25px;
}
.pad4 {
  padding: 0 10% 0 10%;
  word-spacing: 0.5rem;
  font-size: 15px;
}

.nav-b {
  word-spacing: 0.1rem; /*separación entre palabras*/
  letter-spacing: 0.2rem; /*separación entre letras*/
  justify-content: end;
  width: 100%;
  padding: 0.1rem 1.3rem 0.1rem 1.3rem;
}

/*Footer 2*/
.icono {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #6a5550;
}

.nav_footer {
  text-align: center;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, 1fr)
  ); /*color de la línea*/
}

.nav_footer > p {
  color: white;
  text-align: justify;
  text-align-last: center;
  padding: 0 5%;
  font-style: oblique;
}

.nav_footer > a {
  padding: 0 5% !important;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

/*Línea menu*/

.menu2 a {
  position: relative;
  display: block;
  padding: 5px;
}

.menu2 a::before {
  content: "";
  position: absolute;
  bottom: -5px; /*posición de la línea */
  left: 25%;
  width: 50%;
  right: 25%;
  height: 2px; /*ancho de la línea*/
  background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.menu2 a:hover::before {
  transform: scaleX(1);
}

/*Fin Footer 2*/

/*CONTENIDO 2*/

.frame {
  /*cuadros*/
  padding: 2% !important;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2%;
}

.leter-frame {
  color: white;
  background-color: var(--red-spetial);
  padding: 6%;
}

.grande {
  font-size: 100px;
  padding: 4%;
}

.justify {
  text-align: justify;
  text-align-last: center;
}

.menu-pos {
  display: flex;
  align-items: end;
  justify-content: end;
}
/*FIN CONTENIDO 2*/

/*Texto Relleno*/
.texto-relleno {
  padding: 40px 12%;
}

/*MEDIA QUERYS*/

/*320px máximo*/
@media (max-width: 320px) {
  .menu-pos {
    align-items: start;
    justify-content: end;
  }
  .nav-b {
    word-spacing: 0.1rem; /*separación entre palabras*/
    letter-spacing: 0.2rem; /*separación entre letras*/
    justify-content: end;
    width: 100%;
    padding: 0.1rem 1rem 0.1rem 1.3rem;
  }
  .r-social {
    margin-top: 0.5rem;
  }
  .position {
    top: 6.5rem;
  }
  .position > h4 {
    margin-right: 0rem !important;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem; /*separación entre letras*/
    font-size: calc(0.9rem + 0.2vw);
  }
  .carousel-caption {
    left: 43%;
  }
  .nav_footer {
    text-align: center;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(160px, 1fr)
    ); /*color de la línea*/
  }
  
  .nav_footer > p {
    color: white;
    text-align: justify;
    text-align-last: center;
    padding: 0 5%;
    font-style: oblique;
  }
  
  .nav_footer > a {
    padding: 2% 5% !important;
    color: white;
  }
  .texto-relleno {
    padding: 20% 12% 12% ;
}
/*Linea Footer*/
.menu2 a {
  position: relative;
  display: block;
  padding: 5px;
}

.menu2 a::before {
  content: "";
  position: absolute;
  bottom: 3px; /*posición de la línea */
  left: 30%;
  width: 40%;
  right: 30%;
  height: 2px; /*ancho de la línea*/
  background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.menu2 a:hover::before {
  transform: scaleX(1);
}
/*Fin Linea Footer*/
}


/*320px mínimo*/
@media (min-width: 320px) {
  .logo-size {
    height: 7rem;
  }

  .menu-pos {
    align-items: start;
    justify-content: end;
  }
  .nav-b {
    word-spacing: 0.1rem; /*separación entre palabras*/
    letter-spacing: 0.2rem; /*separación entre letras*/
    justify-content: end;
    width: 100%;
    padding: 0.1rem 1rem 0.1rem 1.3rem;
  }
  .r-social {
    margin-top: 0.5rem;
  }
  .position {
    top: 6.5rem;
  }
  .position > h4 {
    margin-right: 0rem !important;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem; /*separación entre letras*/
    font-size: calc(0.9rem + 0.2vw);
  }
  .carousel-caption {
    left: 43%;
  }
  .menu2 a::before {
    content: "";
    position: absolute;
    bottom: 0px; /*posición de la línea */
    left: 32%;
    width: 38%;
    right: 32%;
    height: 2px; /*ancho de la línea*/
    background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

  .nav_footer {
    text-align: center;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(190px, 1fr)
    ); /*color de la línea*/
  }


  .nav_footer > p {
    color: white;
    text-align: justify;
    text-align-last: center;
    padding: 0 5%;
    font-style: oblique;
  }
  
  .nav_footer > a {
    padding: 2% 5% !important;
    color: white;
  }
  .texto-relleno {
    padding: 20% 12% 12% ;
}
}

/*375px mínimo*/
@media (min-width: 375px) {
  .logo-size {
    height: 7rem;
  }
  .carousel-caption {
    left: 55%;
  }
  .menu2 a::before {
    content: "";
    position: absolute;
    bottom: 0px; /*posición de la línea */
    left: 32%;
    width: 36%;
    right: 32%;
    height: 2px; /*ancho de la línea*/
    background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
}

/*425px mínimo*/
@media (min-width: 425px) {
  .logo-size {
    height: 7rem;
  }
  .position > h4 {
    margin-right: 0rem !important;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem; /*separación entre letras*/
    font-size: calc(0.9rem + 0.5vw);
  }
  .carousel-caption {
    left: 60%;
  }
  .texto-relleno {
    padding: 5.2rem 12% 3rem 12% !important;
}
.menu2 a::before {
  content: "";
  position: absolute;
  bottom: 2px; /*posición de la línea */
  left: 25%;
  width: 50%;
  right: 25%;
  height: 2px; /*ancho de la línea*/
  background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
.nav_footer > a {
  padding: 4% 5% !important;
  color: white;
}
.texto-relleno {
    padding: 20% 12% 12%;
}
}

/*576px*/
@media(min-width: 576px) and(max-width: 767px) {
  .d-sm-block {
    display: none!important;
}
.d-sm-none {
  display: block!important;
}
}


/*768px mínimo*/
@media (min-width: 768px) and (max-width: 991px) {
  .logo-size {
    height: 7rem;
  }
  .position > h4 {
    margin-right: 0rem !important;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem; /*separación entre letras*/
    font-size: calc(0.9rem + 0.9vw);
  }
  .carousel-caption {
    left: 60%;
  }
  .position {
    top: 6rem;
  }
  .nav_footer {
    text-align: center;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(120px, 1fr)
    ); /*color de la línea*/
  }
  .menu2 a::before {
    content: "";
    position: absolute;
    bottom: 2px; /*posición de la línea */
    left: 12%;
    width: 76%;
    right: 12%;
    height: 2px; /*ancho de la línea*/
    background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  .nav_footer > a {
    padding: 4% 5% !important;
    color: white;
  }
  
.texto-relleno {
  padding: 4rem 12% 2rem 12% !important;
}
.d-sm-block {
  display: none!important;
}
.d-sm-none {
display: block!important;
}
  
}

/*992px mínimo*/
@media (min-width: 992px) {
  .logo-size {
    height: 7rem;
  }

  .menu-pos {
    align-items: end;
    justify-content: end;
  }
  .nav-b {
    word-spacing: 0.1rem; /*separación entre palabras*/
    letter-spacing: 0.2rem; /*separación entre letras*/
    justify-content: end;
    width: 100%;
    padding: 0.1rem 1rem 0.1rem 1.3rem;
  }
  .r-social {
    margin-top: 0.5rem;
  }
  .position {
    top: 8rem;
  }
  .position > h4 {
    margin-right: 0rem !important;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem; /*separación entre letras*/
    font-size: calc(0.9rem + 0.2vw);
  }
  .carousel-caption {
    left: 56%;
  }
  .menu2 a::before {
    content: "";
    position: absolute;
    bottom: 2px; /*posición de la línea */
    left: 20%;
    width: 60%;
    right: 20%;
    height: 2px; /*ancho de la línea*/
    background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  .nav_footer {
    text-align: center;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(180px, 1fr) );
}
}


/*1024px mínimo*/
@media (min-width: 1024px) {
  .logo-size {
    height: 7rem;
  }

  .menu-pos {
    align-items: end;
    justify-content: end;
  }
  .nav-b {
    word-spacing: 0.1rem; /*separación entre palabras*/
    letter-spacing: 0.2rem; /*separación entre letras*/
    justify-content: end;
    width: 100%;
    padding: 0.1rem 1rem 0.1rem 1.3rem;
  }
  .r-social {
    margin-top: 0.5rem;
  }
  .position {
    top: 8rem;
  }
  .position > h4 {
    margin-right: 0rem !important;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem; /*separación entre letras*/
    font-size: calc(0.9rem + 0.5vw);
  }
  .carousel-caption {
    left: 60%;
  }
  .menu2 a::before {
    content: "";
    position: absolute;
    bottom: 2px; /*posición de la línea */
    left: 25%;
    width: 50%;
    right: 25%;
    height: 2px; /*ancho de la línea*/
    background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  .texto-relleno {
    padding: 3rem 12% 3.5rem 12% !important;
  }
}

/*1440px mínimo*/
@media (min-width: 1440px) {
}

/*1600px mínimo*/
@media (min-width: 1600px) {
}

/*1900px máximo*/
@media (min-width: 1900px) {
  .logo-size {
    height: 7rem;
  }

  .menu-pos {
    align-items: end;
    justify-content: end;
  }
  .nav-b {
    word-spacing: 0.1rem; /*separación entre palabras*/
    letter-spacing: 0.4rem; /*separación entre letras*/
    justify-content: end;
    width: 100%;
    padding: 0.1rem 1rem 0.1rem 1.3rem;
  }
  .r-social {
    margin-top: 0.5rem;
  }
  .position {
    top: 8rem;
  }
  .position > h4 {
    margin-right: 0rem !important;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem; /*separación entre letras*/
    font-size: calc(0.9rem + 0.5vw);
    
  }
  .carousel-caption {
    left: 66%;
  }
}

/*FIN MEDIA QUERYS*/
